body {
    font-family: Arial, sans-serif;
    background-image: url('timebackground.jpg');
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.timer-container {
    text-align: center;
    background-image: url('timebackground.jpg');
    background-color: gray;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px lightgrey;
    width: 350px;
    transition: transform 0.3s ease;
}

.timer-container:hover {
    transform: scale(1.05);
}

input {
    width: 80px;
    padding: 12px;
    margin: 10px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 12px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgb(78, 76, 76);
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(7, 255, 90);
}

button:disabled {
    background-color: #999797;
}

button:disabled:hover {
    background-color: rgb(185, 38, 38);
}

.timer-display {
    font-size: 60px;
    margin: 20px;
    font-weight: bold;
    color: gray;
}

.controls {
    display: flex;
    justify-content: space-around;
}
